* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
	background-color: #f5f5f5;
	padding: 20px;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: right;
	gap: 20px;
	background-color: #333;
}

section {
	margin: 40px auto;
	max-width: 800px;
}

header {
	text-align: center;
	padding: 20px;
}
